$('#new_comment').html("<div class='alert alert-info review text-center'>Thank you for your review!</div>");
// $('.product-reviews').prepend("<%= j render @comment %>");

$('.alert').delay(2000).fadeOut(5000);
// refreshRating();
// $('#comment-form').prepend("<%= j render(:partial =>'products/new_comment'  ) %>");