<%= provide(:title, "All Products")%>
<div class="pull-right">
<br/>
<%= link_to new_product_path, class:"btn btn-primary btn-xs", role:"button" do %>
  <i class="glyphicon glyphicon-plus"></i> Add New Product
<% end %>
</div>
<div class="container product-container">
  <div class="row product-row">
  <% cache(cache_key_for_products) do %> <!-- Start caching all products -->
    <%= render @products %>
  <% end %> <!-- End caching all products -->
  </div>
</div>